.body-div{
    display: grid;
    /* place-items: center;  */
    height: 55vh;
    width: 60%;
    margin: auto;
    overflow-y: scroll;
}
.body-div::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  .body-div::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  .body-div::-webkit-scrollbar-thumb {
    background: red;
  }