/* .todoContainer{
    display: grid;
    place-items: center;
} */
.del-btn{
    background-color: red;
    border-radius:5px ;
    height: 25px;
    width: 55px;
    color: white;
    border: none;
    cursor: pointer;
}
.del-btn:hover{
    border: 1px solid white;
    box-shadow: 0 0 3pt 2pt red;

}